.section {
  width: 100%;
  height: 65vh; 
  
  overflow-y: auto; 

  padding-right: 10px; 
}

.section::-webkit-scrollbar {
  width: 8px;
}

.section::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 4px;
}

.section::-webkit-scrollbar-thumb {
  background: rgba(246, 114, 186, 0.6); 
  border-radius: 4px;
}

.section::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6); 
}


.result-card {
    transition: transform 0.2s ease;
}

.result-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15) !important;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.clear-btn {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(255, 77, 109, 0.3);
    transition: 0.2s;
}

.clear-btn:hover {
    background: #e03e5d;
    transform: scale(1.05);
}