.section{
  display: flex;
  justify-content: center;
}

.score{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.tryagain{
  background: #f7b5d9;       
  border: none;

  font-weight: 600;
  font-size: 18px;

  padding: 14px 24px;
  border-radius: 14px;
  cursor: pointer;

  transition: 0.25s;
  margin-top: 18px;

  box-shadow: 0 4px 12px rgba(240, 150, 190, 0.25);
}

.tryagain:hover {
  background: #ff2c9cac;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(42, 41, 43, 0.342);
}

.reaction{
  display: flex;
  margin-top: 20px;
  max-width: 100%; 
  height: auto
}

.congrat{
  display: flex;
  justify-content: center;
  font-size: 1.6em;
  padding-right: 30px;
}