.main {
  padding: 12px 48px;
}

.main__container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: rgba(203, 134, 147, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(178, 87, 104, 1);
}

.section {
  width: 100%;
  height: 50vh;
}

.quiz-card {}