.main {
  flex: 1;
}
.main__wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
}

.main-conteiner {
  display: flex;
  width: 100vw;
  height: 70vh;
}
.sidebar {
  display: block;
  width: 5vw;
  flex: 0 0 5%;
  background-color: rgb(66, 16, 62);
  padding: 1rem;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 90vw;
}
