.main {
  flex: 1;
  padding: 20px 18%;
}

.main__container {
  padding: 20px;
  background: rgba(237, 151, 167, 0.677);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.create {
  background: #f7b5d9;       
  border: none;

  font-weight: 700;
  font-size: 18px;

  padding: 14px 24px;
  border-radius: 14px;
  cursor: pointer;

  transition: 0.25s;
  margin-top: 18px;

  box-shadow: 0 4px 12px rgba(240, 150, 190, 0.25);
}

.create:hover {
  background: #ff2c9cac;      
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(42, 41, 43, 0.342);
}