.main {
  flex: 1;
  padding: 20px 18%;
}

.main__container {
  padding: 20px;
  background: rgba(237, 151, 167, 0.677);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.quiz-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
}