.main {
  flex: 1;
  padding: 20px 20%;
}

.main__container {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(237, 151, 167, 0.677);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.section {
  width: 100%;
  height: 50vh;
}
