.header {
  padding: 24px 96px;
}

.header__container {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(238, 170, 170, 0.5);
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(238, 170, 170, 1);
}

.header-container {}

.header-container__logo {}

.logo {}

.logo__img {
  width: 50px;
  height: auto;
  margin: 5px;
}

.header-container__nav {
  display: flex;
  gap: 10px;
}

.nav {}

.nav__link {}

.nav__link a {
  margin: 10px 20px;
  display: inline-block;
  color: rgb(140, 64, 79, 0.8);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.footer {
  padding: 24px 96px;
}

.footer__container {
  padding: 10px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(238, 170, 170, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(238, 170, 170, 1);
}

.footer-left {}

.footer-left h1 {
  text-align: center;
  font-size: 2em;
  color: #f6b679;
}

.footer-img {}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-right h2 {
  color: rgb(123, 61, 118);
}

.footer-right ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-right li {
  margin: 10px;
  color: rgb(123, 61, 118);
}