.header{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: clamp(20px, 12vw, 180px);
  padding-right: clamp(20px, 12vw, 180px);
  margin-top: auto;
}

.header__container {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background-color: rgba(238, 170, 170, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.414);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(4px);
}

.logo__img {
  max-width: 100px;
  height: auto;
}

.header-container__nav {
  display: flex;
}

.nav__link a {
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  height:20px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: clamp(20px, 12vw, 180px);
  padding-right: clamp(20px, 12vw, 180px);
  margin-top: auto;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(238, 170, 170, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.414);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 10px 40px;
  gap: 20%;
}

.footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.foooter-title {
  text-align: center;
  font-size: 1em;

}

.footer-img {
  max-width: 50px;
  height: auto;
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right h2 {
  margin-right: 20px;
}

.footer-right ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(50px-1fr);
}

.footer-right li {
  margin: 5%;
  font-weight: 800;
  font-size: 1em;
}
