.header {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  padding-block: clamp(12px, 3vw, 20px);
  padding: 10px 20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  border-radius: 16px;
  background-color: rgba(238, 170, 170, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.414);

  backdrop-filter: blur(2px);
  width:100%;
}

.logo__img {
  max-width: 100px;
}

.header-container__nav {
  display: flex;
}

.nav__link a {
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  height: 20px;
}

.footer {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: clamp(20px, 12vw, 180px);
  padding-right: clamp(20px, 12vw, 180px);
  margin-top: auto;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  font-size: clamp(0.5rem, 2vw,1rem);
  background: rgba(238, 170, 170, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.414);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 10px 40px;
  gap: 20px;
}

.footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.foooter-title {
  text-align: center;
  font-size: 1em;
}

.footer-img {
  max-width: 50px;
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right h2 {
  margin-right: 20px;
}

.footer-right ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-right li {
  margin: 5%;
  font-weight: 800;
  font-size: 1em;
}
