.myQuiz {
    width: auto;
    padding: 10px;
    border: 2px solid black;
}

.quiz-header {
    display: flex;
    align-items: center;
}

.delete {
    cursor: pointer;
    margin: 0 10px 0 15px;
    color: rgba(48, 24, 50, 0.744);
    padding: 0;
    min-height: 25px;
    min-width: 50px;
    font-size: 16px;
    border: 0;
    background-color: rgb(255, 0, 0, 0.6);
}

.description {
    display: block;
    width: fit-content;
    margin: 0;
}

.quiz-footer {
    display: flex;
    gap: 0;
    align-items: center;
}

.start-shell {
    margin: 0 10px 0 15px;
}

.start {
    cursor: pointer;
    color: rgba(48, 24, 50, 0.744);
    padding: 0;
    min-height: 25px;
    min-width: 50px;
    font-size: 16px;
    border: 0;
    background-color: rgba(3, 198, 3, 0.6);
}