.myQuiz {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid #c9d9f2;
    padding: 20px;
    border-radius: 16px;
    background: #f4f6fa;
    position: relative;
    box-shadow: 0 4px 12px rgba(150, 170, 200, 0.15);
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    overflow-wrap: break-word;
    border: none;
    max-width: 150px;

    margin: 0;
    padding: 10px 10px 10px 0px;
    border-radius: 10px;
    font-weight: 600;

    display: inline-block;
}

.delete {
    border: none;

    font-size: 18px;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.description {
    overflow-wrap: break-word;
    border: none;
    max-width: 150px;
    display: inline-block;

}

.action-container {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start {
    margin: 0;
    cursor: pointer;
    background: #f7b5d9;
    border: none;

    font-weight: 700;
    font-size: 18px;

    padding: 14px 24px;
    border-radius: 14px;
    cursor: pointer;

    transition: 0.25s;

    box-shadow: 0 4px 12px rgba(240, 150, 190, 0.25);
}

.start:hover {
    background: #ff7ec3df;
    box-shadow: 0 6px 14px rgba(230, 150, 190, 0.35);
}

.amount {
    margin: 16px 0 16px 20px;
}