@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Archivo", sans-serif;
  color: rgba(48, 24, 50, 0.744);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  min-height: 100vh;
  background-image: url("/public/background7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c7e4f290;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}