@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Archivo", sans-serif;
}

.wrapper {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(184, 101, 117);
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}