@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html{
  --header__height: 180px;
  --footer_height: 180px;
}

* {
  font-family: "Archivo", sans-serif;
  color: rgba(48, 24, 50, 0.744);
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-inline: 20px;

  background-image: url("/public/background7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}