body {
  margin: 0;
  padding-bottom: 100px;
}
.footstyle {
  position: fixed;
  width: 100%;
  margin: 0 ;
  bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 70px;
  border-top: 3px solid #7d7979;
  color: #ffffff;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img {
  width: 40%;
  height: 40%;
}
.authors{
  align-items: center;

}

h4 {
  align-items: center;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}
