body {
    margin: 0;
}

.wrapper {}

.header {}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    background-color: #61305D;
    box-sizing: border-box;
}

.header-container {}

.header-container__logo {}

.logo {}

.logo__img {
    width: 60px;
    height: auto;
}

.header-container__nav {
    display: flex;
    gap: 15px;
}

.nav {}

.nav__link a {
    display: inline-block;
    padding: 12px 25px;
    background-color: #B45C6C;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.main {
}

.main__container {
    width: 100vw;
    height: 72.5vh;
    display: flex;
}

.main-container {}

.main-container__sidebar {
    display: block;
    width: 5vw;
    background-color: rgb(180, 92, 108);
}

.main-container__content {
    width: 90vw;
}

.main-content {}

.main-content__quiz {}

.footer {
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 124, 124);
    /* border-top: 3px solid #7d7979; */
    color: #ffffff;
    box-sizing: border-box;
    padding: 10px 70px;
}

.footer-container {}

.footer-container__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-left {}

.footer-left__img {
    width: 10% px;
    height: 10% px;
    border-radius: 50%;
}

.footer-container__right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-container__right h2 {
    align-items: center;
    margin-bottom: 10px;
    margin: 0;
}

.footer-container__right ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.footer-container__right li {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}