body {
    margin: 0;
}
.headerstyle {
    margin:0;
    padding:0;
    width:100%;

}
.header__headerstyle {
    height: 10vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 247, 255);
    border: 3px solid rgb(82, 22, 131);
    margin: 0;
    padding: 0;
}
.nav {
    display: flex;
    margin-right:40px;
    gap: 20px;
}
.nav_div{
    flex: 1 1 auto;
    padding: 3px;
    border-radius:5px;
    background-color: rgb(82, 22, 131);
 }
 .nav_div a{
    text-decoration: none;
    color: rgb(252, 252, 252);;
 }

.logo {
    margin-top:15px;
    margin-left:30px;
    width:100px

}