.headerstyle {
    margin:0;
    padding:0;

}
.header {
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 247, 255);
    border: 3px solid rgb(82, 22, 131);
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
.btn1 {
    position: absolute;
    top: 10%;
    left:55%;
}
.btn2 {
    position: absolute;
    top: 10%;
    left: 68%;
}
.btn3 {
    position: absolute;
    top: 10%;
    left: 82%;
}
