.section-create {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.main-conteiner {
  width: 100vw;
  height: 72.5vh;
  display: flex;
}

.sidebar {
  flex: 0 0 5vw;
  padding: 1rem;
  background-color: rgb(66, 16, 62);
  box-sizing: border-box;
}

input.title {
  background-color: transparent;
  border: none;
  font-size: x-large;
  outline: none;
  font-style: italic;
  margin: 5px;
  color: white;
}

fieldset {
}

input::placeholder {
  color: rgba(0, 0, 0, 0.333);
  font-style: italic;
}

button {
  cursor: pointer;
}

.create {
  margin: 0;
  margin-top: 5px;
  cursor: pointer;
}

.create-quiz {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
