.section{
  width: 100%;
}

.section-create {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.main-conteiner {
  display: flex;
  width: 100vw;
  height: 72.5vh;
}

.sidebar {
  width: 220px;
  background-color: rgb(66, 16, 62);
  border-radius: 12px;
  padding: 1rem;
  box-sizing: border-box;
}

input.title {
  background-color: transparent;
  border: none;
  font-size: x-large;
  outline: none;
  font-style: italic;
}

.description{
  width: 100%;
  max-width: 100%;
  padding: 14px 16px;

  border-radius: 12px;
  border: 2px solid #c9d9f2;
  background: #ffffff;
  resize: none;

  font-size: 16px;
  outline: none;

  box-shadow: 0 2px 6px rgba(150, 170, 200, 0.12);
  transition: 0.25s;

}

input::placeholder {
  color: rgba(0, 0, 0, 0.333);
  font-style: italic;
}

#addQuestion {
  background: #b363a397;
  border: none;

  font-weight: 600;
  font-size: 16px;

  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;

  transition: 0.25s;
  margin-bottom: 12px;

  box-shadow: 0 3px 8px rgba(120, 150, 200, 0.2);
}

#addQuestion:hover {
  background: #f0538acd;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(42, 41, 43, 0.342);
}

button {
  cursor: pointer;
}

#outputN, #outputNumb{
  text-align: center;
  font-size:medium;
  font-weight: bold;
  border-radius: 12px;
  background-color: #ffffff;
  border: 2px solid #c9d9f2;
  font-weight: 500 ;
}

#outputN{
  max-width: 80px;
}

#outputNumb{
  max-width: 60px;
}

.create-quiz {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.create {
  background: #f7b5d9;       
  border: none;

  font-weight: 700;
  font-size: 18px;

  padding: 14px 24px;
  border-radius: 14px;
  cursor: pointer;

  transition: 0.25s;
  margin-top: 18px;

  box-shadow: 0 4px 12px rgba(240, 150, 190, 0.25);
}

.create:hover {
  background: #ff2c9cac;      
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(42, 41, 43, 0.342);
}