.center{
  justify-content: center;
}
.main-conteiner {
  width: 100vw;
  height: 72.5vh;
  display: flex;
}

.sidebar {
  display: block;
  width: 5vw;
  flex: 0 0 25%;
  background-color: rgb(66, 16, 62);
  padding: 1rem;
  box-sizing: border-box;
}

input.title{
    background-color: transparent;
    border:none;
    font-size: x-large;
    outline: none;
    font-style: italic;
    margin: 5px;
    color: white;
    
}

textarea::placeholder{
  color:rgba(0, 0, 0, 0.63);
}

fieldset{
    align-items: center;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.333);
  font-style: italic;
}

button{
    cursor:pointer;
}

.create{
    cursor:pointer;
}
