.main {
  flex: 1;
}
.main__wrapper {
  width: 100vw;
  display: flex;
}

.sidebar {
  display: block;
  flex: 1;
  width: 5vw;
  background-color: rgb(79, 23, 74);
}

.main-content {
  flex: 2;
  display: flex;
  justify-content: center;
  width: 90vw;
}
