.main {
  flex: 1;
}
.main__wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
}

.main-conteiner{
  width: 100vw;
    height: 72.5vh;
    display: flex;
}
.main-conteiner sidebar {
  flex: 0 0 5%;
  background-color: rgb(66, 16, 62);
  padding: 1rem;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 90vw;
}
