@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family:"Archivo", sans-serif ;
}
body{
    
}
.main {
}
.bar_left {
}
.page {
}
.bar_right {
}