.main {
  flex: 1;
}
.main__wrapper {
  display: flex;
  width: 100vw;
  height: 72.5vh;
}

.sidebar {
  display: block;
  flex: 1;
  background-color: rgb(66, 16, 62);
}

.main-content {
  flex: 2;
  display: flex;
  justify-content: center;
  width: 90vw;
}
