.footstyle {
  position: fixed;
  background: #61305d;
  color: #fff;
  padding: 1rem 0;
  width: 100%;
  margin: 0;
  bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #000000;
  color: #ffffff;
  box-sizing: border-box;
  padding: 10px 70px;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-left h1 {
  font-size: 2em;
  color: #f6b679;
}

.footer-img {
  width: 10% px;
  height: 10% px;
  border-radius: 50%;
}
.footer-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-right h2 {
  align-items: center;
  margin-bottom: 10px;
  color: #b45c6c;
  margin: 0;
}

.footer-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-right li {
  display: flex;
  color: #e67c7c;
  margin-bottom: 10px;
}
